@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: auto;
    background: 
        url('../Images/Home_Page/Grid_Home.png') repeat, /* Static Grid image */
        linear-gradient(to right, rgba(0, 28, 48, 0.7), rgba(52, 12, 24, 0.7)), /* Gradient */
        url('../Images/Work_Page/work_bg.png') no-repeat center center/cover;
    background-attachment: fixed, scroll, scroll;
    animation: bg-animation 5s linear infinite;
    font-family: 'Nunito Sans', sans-serif; 
    color: white;
}

header {
    background-color: #202020;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    border-radius: 0 0 3% 3%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    height: 50px;
    padding-left: 100px;
}

.nav-links {
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    font-weight: 400;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px;
    transition: color 0.3s;
    padding-right: 60px;
}

.nav-links a:hover {
    color: #49D3FF;
}

/* Card Section */
.work-section {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card {
    border-radius: 20px;
    opacity: 1;
    display: flex;
    background-color: #171717;
    box-shadow: 2px 2px 20px 1px #FFFFFF1A;
    overflow: hidden;
    max-width: 1203px;
    height: 440px;
    padding:41px;
    padding-top: 37px;
    width: 100%;
    align-items: center;
    margin-top: 55px;
}

.card-content {
    flex: 1;
}

.card-content h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}

.card-content .tags {
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #E07160;
    font-size: 30px;
    margin-bottom: 100px;
}

.card-content .button {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    background-color: transparent;
    color: white;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    transform: scale(1); /* Normal size */
}

.card-content .button:hover {
    background-color: #49D3FF;
    color: black;
    transform: scale(2);
}

.card-content .tags-p2{
    color:#A193F2;
}
.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
    border: 1px solid #E07160;
    border-radius: 12px;
    margin-bottom: 40px;
}
.ci-p2{
    border: 1px solid #A193F2;
    border-radius: 12px;
}

.card-image img {
    height: 180px;
    width: 180px;
}

footer {
    background-color: #202020;
    color: white;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px 40px 0 0;
    padding: 10px 60px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-container p {
    font-weight: 400;
    font-size: 16px;
}

.icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 18px;
}

.icon img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.icon:hover img {
    transform: scale(1.1);
}
